body{
    font-family: 'Montserrat','Helvetica Neue','Arial','sans-serif' !important;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

.header {
    background-color: rgba(241, 234, 234, 0) !important;
    font-size: large;
}

.nav-style{
    color: #f0e9e2 !important;
    border-radius: 2px !important;
    margin-bottom: 2px !important;
    margin-right: 30px !important;
}

.nav-style:hover{
    border-radius: 3px !important;
    color: #75624b !important;
    background-color: #f0e9e2;

}

.backgroundOne{
    background-image: url('/assets/imgs/fundo1.png');
    background-repeat: no-repeat !important;
    background-size: cover;
    transform: translate3d(0px, 0px, 0px);
    max-height: 400px;
    max-width: 100%;
    z-index: -1;
}

.style-about{
    color: #e9e8e8 !important;
}


